@import url('fonts/Luciole-Regular.css');
body {
    font-size: 62.5%;
    font-family: Luciole, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
article {
    font-size: 1.6rem;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}
article form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
article form div {
    display: flex;
    gap: 10px;
}
article form div label {
    flex: 1;
}
article form div textarea {
    flex: 2;
    resize: none;
    width: 100%;
    height: 100px;
    font-size: 1.6rem;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 10px;
    text-transform: uppercase;
    box-sizing: border-box;
}
article form div input[type="submit"] {
    flex: 1;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
